#agenda-ahora{
    font-family: $fontMain;
    .main_article--form{
        background-color: rgba(0, 0, 0, 0.6);
    }
    h2{
        font-size: $tamañoTitulos;
        padding: 10px;
        text-align: center;
        color: $colorTitulos;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    form{
        label{
            font-size: 2.3em;
            color: $secondaryColor;
        }
        input{
            font-size: 1.5em;
        }
        textarea{
            font-size: 1.5em;
        }
    }
    h4{
        font-size: $tamañoTitulos;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        color: $secondaryColor;
    }
    h5{
        font-size: 2.5em;
        color: #2666CF;
    }
    .card{
        p{
            font-size: 2em;
            color: $colorTextos;
        }
    }
    .fondo_cards{
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.imagen_form{
    height: 100%;
    display: flex;

}  