#agenda-ahora {
    font-family: $fontMain;

    .main_article--form {
        background-color: map-get($blacks, $key: "cinco");
    }

    h2 {
        @extend .diseño_title--h2;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    form {
        label {
            font-size: 2.3em;
            color: $secondaryColor;
        }

        input {
            font-size: 1.5em;
        }

        textarea {
            font-size: 1.5em;
        }
    }

    h4 {
        font-size: $tamañoTitulos;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        color: $secondaryColor;
    }

    h5 {
        font-size: 2.5em;
        color: $titulosSecundarios;
    }

    .card {
        p {
            font-size: 2em;
            color: $colorTextos;
        }
    }

    .fondo_cards {
        background-color: map-get($blacks, $key: "seis");
    }
}

.imagen_form {
    height: 100%;
    display: flex;

}