@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap');

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: $mainColor;
    background-repeat: repeat;
    background-attachment: fixeo;
    background-size: cover;

}

//DISEÑO DE LA NAV

.nav_diseño {
    background-color: #2C3333;
}

#nav {
    a {
        color: $colorTextos;
        font-size: 2rem;

        &:hover {
            color: $secondaryColor;
            font-weight: 800;
        }
    }
        svg {
            width: 40px;
            height: 40px;
            fill: $colorTextos;

            rect {
                width: 100%;
                height: 10px;
            }
        }
    }


.logo_animation {
    &:hover {
        transform: scale(1.4, 1.4);
        transition: 2s;
        cursor: pointer;
    }
}

.logo_tamaño{
    height: 50px;
}



//DISEÑO HEADER

header {
        height: 100vh;
        width: 100%;
        background-size: cover;
        animation-name: animateHeader;
        -webkit-animation-name: animateHeader;
        -moz-animation-name: animateHeader;
        -o-animation-name: animateHeader;
        animation-duration: 4s;
        -webkit-animation-duration: 4s;
        -moz-animation-duration: 4s;
        -o-animation-duration: 4s;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        -o-animation-timing-function: ease;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

}


@keyframes animateHeader {
    0% {
        background-image: url(../IMAGENES/fondos/fondo-header.jpg);
        background-position: center;
    }

    50% {
        background-image: url(../IMAGENES/fondos/fondo-header-two-mobile.jpg);
        background-position: center;
    }

    100% {
        background-image: url(../IMAGENES/fondos/fondo-header-three-mobile.jpg);
        background-position: center;
    }
}

//FOOTER:

footer {
    background-image: url(../IMAGENES/fondos/fondo-header.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    margin-top: 7rem;
    padding: 5px;
}

@media (min-width:768px){
    @keyframes animateHeader {
        0% {
            background-image: url(../IMAGENES/fondos/fondo-header.jpg);
            background-position: center;
        }
    
        50% {
            background-image: url(../IMAGENES/fondos/fondo-header-two.jpg);
            background-position: center;
        }
    
        100% {
            background-image: url(../IMAGENES/fondos/fondo-header-three.jpg);
            background-position: center;
        }
    }

    .logo_tamaño{
        height: 65px;
    }

    .logo_animation{
        &:hover{
            transform: scale(1.2,1.2)
        }
    }

}

@media (min-width:992px) {
    #nav {
        a {
            font-size: 2rem;
            margin-right: 10px;
        }
    }
}

@media (min-width:1200px) {
    #nav {
        a {
            font-size: 2.5rem;
            margin-right: 20px;
        }
    }


}

//clases base:

.diseño_title--h1 {
    font-size: $tamañoTitulos;
    padding: 10px;
    text-align: center;
    color: $colorTitulos;
    margin-top: 30px;
    margin-bottom: 30px;
}