#consultorio {
    font-family: $fontMain;

    h2 {
        @extend .diseño_title--h2;
    }

    .main_carousel {
        background-color: map-get($blacks, $key: "seis");
        width: 90%;
    }

    p {
        font-size: 3rem;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        color: $colorTextos;
        text-align: center;
    }

    iframe {
        width: 100%;
    }

}

@media (min-width: 768px) {
    #consultorio {
        .main_carousel {
            width: 70%;
        }
    }

}

@media (min-width: 1200px) {
    #consultorio {
        .main_carousel {
            width: 50%;
        }
    }
}