#nosotros {
    font-family: $fontMain;

    h1 {
        @extend .diseño_title--h1;
    }

    .main_article--odontologos {
        width: 85%;
        margin: 0 auto;

        img {
            width: 100%;
        }

        h3 {
            font-size: 1.8rem;
            text-align: center;
            color: $colorTitulos;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        p {
            font-size: 2rem;
            color: $colorTextos;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 20px;
        }
    }

    .main_separador--conocenos {
        width: 65%;
        border-bottom: solid 5px $colorTextos;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

@media (min-width: 768px) {
    #nosotros {

        .main_article--odontologos {
            width: 60%;
            margin-top: 20px;
            margin-bottom: 20px;

            p {
                font-size: 2.5rem;
            }
        }
    }
}


@media (min-width: 1200px) {
    #nosotros {
        .main_article--odontologos {
            display: flex;

            img {
                width: 100%;
            }

            p {
                font-size: 1.6rem;
                width: 100%;
                padding: 25px;
            }

        }
    }


}