#preguntas-frecuentes {
    font-family: $fontMain;

    h2 {
        @extend .diseño_title--h2;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 3.5rem;
        margin-top: 35px;
        margin-bottom: 20px;
        color: $secondaryColor;
        padding: 20px;
    }

    p {
        font-size: 2.3rem;
        color: $colorTextos;
        padding: 15px;
    }

    .borde_separador {
        width: 60%;
        border-bottom: solid 5px white;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 25px;
    }
}