//variables de colores
$mainColor: #2C3333;
$secondaryColor: #395B64;
$colorTextos: #F5F2E7;
$colorTitulos:#DDDDDD;

//variables de tamaños:
$tamañoTitulos: 4rem;

//variables de fonts:
$fontMain: 'Poppins', sans-serif;
$fontSecond: 'Roboto', sans-serif;
